@model MinimumSpanningTreeWithKruskal.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "ورود";
}
<h2>ورود</h2>
@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label">مرا به خاطر بسپار</label>
    </div>
    <button type="submit" class="btn btn-primary">ورود</button>
</form>
<div>
    <a asp-action="Register">ثبت نام</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 